.mentor-subject-details-back{
    background: #464646;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    display:flex;
    justify-content: center;
    cursor: pointer;
    margin-left: 130px;
    margin-top: 20px;
    font-size: large;
    text-decoration: none;
}
.mentor-subject-details-back:hover {
    color: white;
}

.mentor-subject-details-chapters {
    background: #4F0A3A;
    height: 500px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.mentor-chapter-element {
    background: #720D5D;
    color: #F0CCE2;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.mentor-chapter-element > input {
    margin-top: 5px;
    margin-right: 10px;
}

.mentor-subject-details-subtopics {
    background: #4F0A3A;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    width: 20%;
    height: 445px;
}

.mentor-subject-details-tests {
    height: 500px;
    width: 100%;

}

.mentor-test-tab-button{
    cursor: pointer;
    opacity: 0.5;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: max-content;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    color: red;
    font-weight: 600;
}

.mentor-tests-tab-inner {
    background: url('../../assets/scene-living-room.svg') #F9F6F8;
    background-repeat: no-repeat;
    background-size: 675px 415px;
    height: 415px;
    padding: 10px;
}

.mentor-subtopic-test-element {
    background: white;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 15%;
    display: flex;
    padding: 20px;
}

.mentor-launch-test-button {
   background: #720D5D; 
   color: white;
   border-radius: 20px;
   width: 130px;
   height: 27px;
   display: flex;
   justify-content: center;
   margin-left: 420px;
   cursor: pointer;
}
