.body {
    background-color: darkred;
}
/* .splitScreen {
    display: 'flex';
}

.topPane {
    width: '80%';
}
.bottomPane {
    width: '50%',
} */
.slider {
    /* margin-top: 10vh; */
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    border-radius: 10px;
    width: 900px;
    object-fit: contain;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 0px;
    font-size: 3rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: -4px 4px 4px rgba(200, 10, 10, 0.8), 4px 4px 4px rgba(200, 10, 10, 0.8), 4px -4px 4px rgba(200, 10, 10, 0.8),
    -4px -4px 4px rgba(200, 10, 10, 0.8);
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 0px;
    font-size: 3rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: -4px 4px 4px rgba(200, 10, 10, 0.8), 4px 4px 4px rgba(200, 10, 10, 0.8), 4px -4px 4px rgba(200, 10, 10, 0.8),
    -4px -4px 4px rgba(200, 10, 10, 0.8);
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
    align-items: center;
}
.done-button {
    margin-left: 5em;
}
  
.right-pane {
    display: flex;
    justify-content: center;
    align-items: center;
}