.chat-container > div > div.sc-launcher {
  width: 30px;
  height: 30px;
  background-color: #ffa9e8;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  right: 50px;
  bottom: 50px;
  border-radius: 50%;
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;
}

.chat-container > div > div > img.sc-closed-icon {
  width: 30px;
  height: 30px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
  opacity: 1;
}

.chat-container > div > div > img.sc-open-icon {
  width: 30px;
  height: 30px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
}

.chat-container > div > div > .sc-launcher.opened {
  box-shadow: none;
  opacity: 1;
}
