.landing-body {
  color: #ffffff;
}

.landing-content1 {
  background-color: #5d1049;
  padding: 2.5vw;
  text-align: center;
}

.landing-content1-img {
  width: 100%;
  padding-top: 1.5vw;
}

.landing-content1-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.landing-content1-body-comp {
  flex: 1;
  text-align: center;
  vertical-align: middle;
}

.landing-logo {
  margin-top: 3vw;
  filter: drop-shadow(0px 0px 15px rgb(255, 255, 255));
}

.landing-button {
  border-radius: 1.25vw;
  height: 2.5vw;
  border: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.2vw;
  margin-top: 2.5vw;
  transition: all 0.25s;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 32px;
  padding-right: 32px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.landing-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.25s;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.landing-button span:after {
  font-family: Arial, Helvetica, sans-serif;
  /* content: "🡢"; */
  content: "\00BB";
  font-size: 1.5vw;
  position: absolute;
  opacity: 0;
  top: -25px;
  right: -20px;
  transition: 0.25s;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.landing-button:hover span {
  padding-right: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.landing-button:hover span:after {
  opacity: 1;
  right: -20px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.landing-content2 {
  background-color: #720d5d;
  padding: 2.5vw;
  line-height: 1.9vw;
  font-size: 1.5vw;
  word-spacing: 0.4vw;
  font-weight: light;
  color: rgba(255, 255, 255, 0.74);
}

.scroll-down-button {
  background-color: #5d1049;
  box-shadow: none;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.landing-title {
  font-size: 3.4vw;
  margin-top: 4vw;
}

.landing-name {
  font-size: 4vw;
  margin-top: 3vw;
  font-weight: bold;
}

.landing-bottom-name {
  font-size: 2.25vw;
  color: white;
}

.landing-gif-img {
  position: fixed;
  bottom: 0%;
  width: 8%;
  right: 5%;
}

.landing-gif {
  position: fixed;
  bottom: 0%;
  width: 8%;
  right: 5%;
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 480px) {
  .landing-content1-body {
    text-align: center;
    display: block;
    height: 100%;
  }

  .landing-content1-body-comp {
    text-align: center;
    display: block;
  }

  .landing-title {
    font-size: 8vw;
    margin-top: 1.5vw;
  }

  .landing-name {
    font-size: 9vw;
    margin-top: 2vw;
  }

  .landing-content1-img {
    text-align: center;
    width: 95%;
    padding-top: 0;
  }

  .landing-button {
    border-radius: 4vw;
    height: 8vw;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 4vw;
    margin-top: 6vw;
    transition: all 0.25s;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 32px;
    padding-right: 32px;
  }

  .landing-button span:after {
    font-family: Arial, Helvetica, sans-serif;
    /* content: "🡢"; */
    content: "\00BB";
    font-size: 6vw;
    position: absolute;
    opacity: 0;
    top: -25px;
    right: -20px;
    transition: 0.25s;
  }

  .landing-button:hover span {
    padding-right: 20px;
  }

  .landing-button:hover span:after {
    opacity: 1;
    right: -20px;
  }

  .scroll-down-button {
    background-color: #5d1049;
    box-shadow: none;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    position: relative;
    bottom: 25vw;
  }

  .landing-content2 {
    text-align: center;
    background-color: #720d5d;
    padding: 2.5vw;
    line-height: 5.8vw;
    font-size: 5.4vw;
    word-spacing: 1vw;
    font-weight: light;
    color: rgba(255, 255, 255, 0.74);
  }

  .landing-bottom-name {
    font-size: 6vw;
    color: white;
  }

  .landing-gif-img {
    position: fixed;
    bottom: 0%;
    width: 25%;
    right: 8%;
  }

  .landing-gif {
    position: fixed;
    bottom: 0%;
    width: 12%;
    right: 8%;
    background-color: transparent;
    border: none;
  }
}
