.init-signin-body {
    background-color: #f0cce2;
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.init-signin-content1 {
    overflow: hidden;
}

.init-signin-logo {
    position: absolute;
    top: 38%;
    left: 48%;
}

.init-signin-left {
    width: 50%;
    float: left;
}

.init-signin-text1 {
    padding: 58px;
    font-size: 1.2vw;
    padding-top: 5px;
}

.init-signin-right {
    position: relative;
    float: right;
    right: 0;
    top: 0px;
    width: 50%;
}

.init-signin-text2 {
    padding: 58px;
    font-size: 1.2vw;
    padding-bottom: 5px;
    padding-top: 32px;
}

.init-signin-button {
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
    height: 2.5vw;
    border-radius: 1.25vw;
    background-color: #464646;
    color: white;
    font-family: "Raleway", sans-serif;
    border: none;
    padding: 0px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    font-size: 1.2vw;
    position: relative;
    transition: all 0.3s;
}

.init-signin-button:hover {
    background: linear-gradient(45deg, #720d5d, #4e0d3a, #720d5d, #5d1049, #720d5d, #e30425, #5d1049, #720d5d, #4e0d3a, #720d5d);
    background-size: 400%;
    animation: glowing 15s linear infinite;
    transition: 0.3s;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.init-signin-admin {
    color: #4e0d3a;
    padding: 1vw;
    padding-bottom: 0;
    margin: 0;
    float: right;
}

@media screen and (max-width: 480px) {
    .init-phone-logo {
        width: 15%;
    }

    .init-signin-logo {
        margin: 0;
        position: relative;
        top: 0;
        left: 0;
        padding: 0;
    }

    .init-signin-content1 {
        overflow: visible;
    }

    .init-signin-body {
        background-color: #f0cce2;
        overflow: visible;
        height: 100%;
    }

    .init-signin-admin {
        font-size: 3.2vw;
        position: absolute;
        bottom: 15px;
        right: 15px;
        z-index: 5;
    }

    .init-signin-left {
        width: 100%;
        float: none;
        margin: 0;
        padding: 0;
    }

    .init-signin-right {
        width: 100%;
        float: none;
        margin: 0;
        padding: 0;
    }

    .init-signin-text1 {
        font-size: 4vw;
        margin-bottom: 0;
        padding-bottom: 6.8vw;
    }

    .init-signin-text2 {
        font-size: 4vw;
    }

    .init-signin-button {
        height: 8vw;
        border-radius: 4vw;
        font-size: 4vw;
    }
}
